$backgroundMain: #eeeeee; // light gray
$accents: rgba( 10, 32, 105, 1.0); // medium blue

$text-color-0: rgba( 17, 17, 17, 1.0 );    // dark gray
$text-color-1: rgba( 179, 142, 104, 1.0 ); // medium brown
$text-color-2: rgba( 115, 115, 115, 1.0 ); // medium gray

$table-head: #dddddd; // light gray

