/*

  Custom styles for the CreateAccount project.
  Styles for other tags to be added as needed.
  
  Grid system based on the Responsive Grid System by Graham Miller.
  The generated styles have been revised.
  Web site: http://www.responsivegridsystem.com/
  License: http://creativecommons.org/licenses/by/3.0/

*/

// ============================================================================
// SCREEN SIZES
// ============================================================================

$screenSmall : 480px;
$screenMed   : 768px;
$screenLarge : 992px;
$screenXLarge: 1200px;
  
// ============================================================================
// COLOR
// ============================================================================

$white       :   #fff;	
$dark-gray   : rgba( 34, 34, 34, 1.0 );
$medium-gray : rgba( 160, 160, 160, 1.0 );
$light-gray  : rgba( 217, 217, 217, 1.0 );
$lighter-gray: rgba( 245, 245, 245, 1.0 );

@mixin bg-color-set( $bgShort, $bgFull ) {
  background-color: $bgShort;

  @media only screen and ( min-width: $screenSmall )  { background-color: $bgShort; }
  @media only screen and ( min-width: $screenMed )    { background-color: $bgFull; }
  @media only screen and ( min-width: $screenLarge )  { background-color: $bgFull; }
  @media only screen and ( min-width: $screenXLarge ) { background-color: $bgFull; }
}

// ============================================================================
// WIDTH, PADDING, MARGIN, DISPLAY, FLOAT
// ============================================================================

@mixin width-set( $widthShort, $widthFull ) {
  width: $widthShort;

  @media only screen and ( min-width: $screenSmall )  { width: $widthShort;}
  @media only screen and ( min-width: $screenMed )    { width: $widthFull; }
  @media only screen and ( min-width: $screenLarge )  { width: $widthFull; }
  @media only screen and ( min-width: $screenXLarge ) { width: $widthFull; }
}

@mixin max-width-set( $widthShort, $widthFull ) {
  max-width: $widthShort;

  @media only screen and ( min-width: $screenSmall )  { max-width: $widthShort;}
  @media only screen and ( min-width: $screenMed )    { max-width: $widthFull; }
  @media only screen and ( min-width: $screenLarge )  { max-width: $widthFull; }
  @media only screen and ( min-width: $screenXLarge ) { max-width: $widthFull; }
}

@mixin padding-set( $paddingShort, $paddingFull ) {
  padding: $paddingShort;

  @media only screen and ( min-width: $screenSmall )  { padding: $paddingShort; }
  @media only screen and ( min-width: $screenMed )    { padding: $paddingFull; }
  @media only screen and ( min-width: $screenLarge )  { padding: $paddingFull; }
  @media only screen and ( min-width: $screenXLarge ) { padding: $paddingFull; }
}	

@mixin margin-set( $marginShort, $marginFull ) {
  margin: $marginShort;

  @media only screen and ( min-width: $screenSmall )  { margin: $marginShort; }
  @media only screen and ( min-width: $screenMed )    { margin: $marginFull; }
  @media only screen and ( min-width: $screenLarge )  { margin: $marginFull; }
  @media only screen and ( min-width: $screenXLarge ) { margin: $marginFull; }
}

@mixin display-set( $displayShort, $displayFull ) {
  display: $displayShort;

  @media only screen and ( min-width: $screenSmall )  { display: $displayShort; }
  @media only screen and ( min-width: $screenMed )    { display: $displayFull; }
  @media only screen and ( min-width: $screenLarge )  { display: $displayFull; }
  @media only screen and ( min-width: $screenXLarge ) { display: $displayFull; }
}

@mixin float-set( $floatShort, $floatFull ) {
  float: $floatShort;

  @media only screen and ( min-width: $screenSmall )  { float: $floatShort; }
  @media only screen and ( min-width: $screenMed )    { float: $floatFull; }
  @media only screen and ( min-width: $screenLarge )  { float: $floatFull; }
  @media only screen and ( min-width: $screenXLarge ) { float: $floatFull; }
}

// ============================================================================
// BASIC TAGS
// ============================================================================

body {
  @include bg-color-set( $white, $lighter-gray );
  font-family: 'Montserrat', Helvetica, sans-serif; 
  font-size: 14px; 
  line-height: 1.25;    
  color: $dark-gray;
  transition: background-color 0.5s;
}

h1 { 
  font-size: 36px; 
  margin-top: 32px;
  margin-bottom: 34px;  
}

h2 { 
  font-size: 28px; 
  margin-top: 24px;
  margin-bottom: 26px;  
}

h3 { 
  font-size: 18px;
  font-weight: normal;
  margin-top: 4px;
  margin-bottom: 8px;   
}

h4 { 
  font-size: 18px;
  margin-top: 14px;
  margin-bottom: 16px;   
}

h5 { 
  font-size: 14px; 
  margin-top: 10px;
  margin-bottom: 12px;  
}

h6 { 
  font-size: 12px; 
  margin-top: 8px;
  margin-bottom: 10px;  
}

p {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 12px;
}

// ============================================================================
// INPUT PLACEHOLDER
// ============================================================================

input::-webkit-input-placeholder { color: $light-gray; }
input::-moz-placeholder          { color: $light-gray; }
input:-moz-placeholder           { color: $light-gray; }
input:-ms-input-placeholder      { color: $light-gray; }

// ============================================================================
// BUTTON
// ============================================================================

$paddingButtonShort: 8px 57px 8px 57px;
$paddingButtonFull : 8px 36px 8px 36px;

button,
.button {
  @include padding-set( $paddingButtonShort, $paddingButtonFull );
  transition: padding 0.5s;            	
}

// ============================================================================
// CONTAINER
// ============================================================================

$container-width: 490px;

.container {
  @include padding-set( 0, 30px ); 
}

.container-med {
  max-width: $container-width;
}

$paddingChildFull: 0px 100px 0px 100px;

.container-child {
  @include padding-set( 0, $paddingChildFull );
  max-width: $container-width;
  -webkit-transition: padding 0.5s;
  transition: padding 0.5s; 
}

// ============================================================================
// CONTAINERS FOR FORMS
// ============================================================================

@mixin container-header-prop-short {
  background-color: transparent;
  border: none;
  padding: 0;
  @content;
}

@mixin container-header-prop-full {
  background-color: $white;
  border-top: 1px solid $light-gray;
  border-left: 1px solid $light-gray;
  border-right: 1px solid $light-gray;
  border-radius: 5px 5px 0 0;
  padding: 42px 100px 20px 100px;
  @content;
}

@mixin container-header-set() {
  @include container-header-prop-short;

  @media only screen and ( min-width: $screenSmall )  { @include container-header-prop-short; }
  @media only screen and ( min-width: $screenMed )    { @include container-header-prop-full; }
  @media only screen and ( min-width: $screenLarge )  { @include container-header-prop-full; }
  @media only screen and ( min-width: $screenXLarge ) { @include container-header-prop-full; }
}	            

.container-header {
  @include container-header-set(); 
  -webkit-transition: background-color 0.5s, 
                      border 0.5s,
                      border-top 0.5s, border-left 0.5s, border-right 0.5s,
                      border-radius 0.5s, padding 0.5s;
  transition: background-color 0.5s, 
                      border 0.5s,
                      border-top 0.5s, border-left 0.5s, border-right 0.5s,
                      border-radius 0.5s, padding 0.5s;  
}

@mixin container-form-prop-short {
  background-color: transparent;
  border: none;
  border-top: 1px solid $light-gray;  
  padding: 11px 0 0 0;
  @content;
}

@mixin container-form-prop-med {
  background-color: transparent;
  border: none;
  padding: 11px 0 0 0;
  @content;
}

@mixin container-form-prop-full {
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 0 0 5px 5px;
  padding: 38px 100px 45px 100px;
  @content;
}

@mixin container-form-set() {
  @include container-form-prop-short;

  @media only screen and ( min-width: $screenSmall )  { @include container-form-prop-med; }
  @media only screen and ( min-width: $screenMed )    { @include container-form-prop-full; }
  @media only screen and ( min-width: $screenLarge )  { @include container-form-prop-full; }
  @media only screen and ( min-width: $screenXLarge ) { @include container-form-prop-full; }
}	

.container-form {
  @include container-form-set(); 
  -webkit-transition: background-color 0.5s, 
                      border 0.5s,
                      border-radius 0.5s, padding 0.5s;
  transition: background-color 0.5s, 
                      border 0.5s,
                      border-radius 0.5s, padding 0.5s;  
}

// ============================================================================
// LOGO
// ============================================================================

$marginLogoShort: 19px 0 0 0;
$marginLogoFull : 0 auto;

.logo {
  @include margin-set( $marginLogoShort, $marginLogoFull );
  @include width-set( 50px, 75px );
  height: 100%;
  -webkit-transition: margin 0.5s, width 0.5s;
  transition: margin 0.5s, width 0.5s;      
}

// ============================================================================
// FORM
// ============================================================================

.form-row {
	clear: both;
	padding: 0px;
	margin: 0px;
	margin-bottom: 11px;
}

.form-row:before,
.form-row:after { content: ""; display: table; }
.form-row:after { clear: both; }
.form-row { zoom: 1; /* For IE 6/7 */ }

@mixin column-set() {
  margin-left: 3%;
  float: none;

  @media only screen and ( min-width: $screenSmall )  { margin-left: 3%; float: none; }
  @media only screen and ( min-width: $screenMed )    { margin-left: 3%; float: left; }
  @media only screen and ( min-width: $screenLarge )  { margin-left: 3%; float: left; }
  @media only screen and ( min-width: $screenXLarge ) { margin-left: 3%; float: left; }
}

.column {
  @include column-set();
  display: block;	
  -webkit-transition: margin 0.5s, float 0.5s;
  transition: margin 0.5s float 0.5s;  
}

.column-with-12 {
  @include width-set( 94%, 97% );
  -webkit-transition: width 0.5s;
  transition: width 0.5s;   	
}

.column-with-6 {
  @include width-set( 94%, 47% );	
  -webkit-transition: width 0.5s;
  transition: width 0.5s;   	
}

.cell-logo {  
  @include float-set( left, none );
  -webkit-transition: float 0.5s;
  transition: float 0.5s;  
}

.cell-header {
  @include max-width-set( 410px, $container-width );
  padding-top: 22px; 
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;   
}

// ============================================================================
// CSS HELPERS
// ============================================================================

.inline             { display: inline; }
.block              { display: block; }
.inline-block       { display: inline-block; }
.hide               { display: none; }

.margin-top-0       { margin-top: 0; }
.margin-top-32      { margin-top: 32px; }
.margin-bottom-0    { margin-bottom: 0; }
.margin-bottom-24   { margin-bottom: 24px; }

.padding-top-10     { padding-top: 10px; }

.align-top          { vertical-align: top; }
.align-bottom       { vertical-align: bottom; }
.align-middle       { vertical-align: middle; }

.left               { float: left; }
.right              { float: right; }

.line-height-45     { line-height: 45px; }

.font-family-basic  { font-family: Helvetica, sans-serif; }

.font-size-14       { font-size: 14px; }

.bold               { font-weight: bold; }
.normal             { font-weight: normal; }
.italic             { font-style: italic; }

.text-left          { text-align: left; }
.text-right         { text-align: right; }
.text-center        { text-align: center; }
.text-just          { text-align: justify; }

.no-wrap            { white-space: nowrap; }

.border-bottom-none { border-bottom: none; }

.white              { color: $white; }
.lighter-gray       { color: $lighter-gray; }	
.light-gray         { color: $light-gray; }
.medium-gray        { color: $medium-gray; }
.dark-gray          { color: $dark-gray; }
.red                { color: red; }

// ============================================================================
// PARSLEY OVERRIDES
// ============================================================================

input.parsley-success,
select.parsley-success,
textarea.parsley-success {

}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  border: 2px solid red;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}