/*

  Extract from skull-1.0.0 (Basscss theme).
  Includes only the basic styles used in the CreateAccount project.
  Styles for other tags to be added as needed.

*/

/*

  Autoform
  v1.0.0

*/

/* Revised by BH */
input:not([type=checkbox]):not([type=radio]):not([type=submit]), select, textarea, fieldset {
  font-size: 14px;
  font-family: inherit;
  font-weight: normal;
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 16px;
}

/* Revised by BH */
label {
  font-size: 14px;
  font-weight: normal;
  display: block;
  margin-bottom: 11px;
}

/* Revised by BH */
input:not([type=checkbox]):not([type=radio]):not([type=submit]) {
  box-sizing: border-box;
  height: 45px;
  padding: 8px 8px;
  vertical-align: middle;
  -webkit-appearance: none;
}

select {
  box-sizing: border-box;
  padding: 8px 8px;
  line-height: 1.75;
}

select:not([multiple]) {
  height: 40px;
  vertical-align: middle;
}

textarea {
  box-sizing: border-box;
  padding: 8px 8px;
  line-height: 1.75;
}

/* Revised by BH */
input, select, textarea {
  border: 1px solid rgba( 217, 217, 217, 1.0 );
  border-radius: 5px;
  background-color: white;
  -webkit-transition: box-shadow .2s ease;
          transition: box-shadow .2s ease;
}

/* Revised by BH */
input:focus, select:focus, textarea:focus {
  outline: none;
  border-color: rgba( 200, 200, 200, 1.0 );
  background-color: rgba( 250, 250, 250, 1.0 );
}
input:disabled, select:disabled, textarea:disabled {
  opacity: 0.625;
}
input:read-only, select:read-only, textarea:read-only {
}
input:invalid, select:invalid, textarea:invalid {
}

/*

  autogrid
  v1.0.6

*/

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto
}

/*
 * Skull
 *
 * Minimal Basscss theme
 *
 */

/* Basscss Modules */
body, button { margin: 0 }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

img { max-width: 100% }
svg { max-height: 100% }

/* @import 'basscss-base-forms'; */
/* Basscss Base Buttons */

/* Revised by BH */
button,
.button {
  font-size: 14px;
  font-size: .875rem;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  line-height: 30px;
  line-height: 1.875rem;
  padding: 8px 36px 8px 36px;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
}

button:after,
button:before,
.button:after,
.button:before {
  box-sizing: border-box;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button:hover { text-decoration: none }

/* @import 'basscss-base-tables'; */
/* Basscss Base Typography */

/* Revised by BH */
body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 100%;
}

/* Revised by BH */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

p {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

h1, .h1 { font-size: 36px; font-size: 2.25rem }
h2, .h2 { font-size: 28px; font-size: 1.75rem }
h3, .h3 { font-size: 20px; font-size: 1.25rem }
h4, .h4 { font-size: 18px; font-size: 1.125rem }

/* Revised by BH */
h5, .h5 { font-size: 14px; font-size: .875rem }

h6, .h6 { font-size: 12px; font-size: .75rem }

/* Basscss Utility Typography */

.bold    { font-weight: bold }
.regular { font-weight: normal }
.italic  { font-style: italic }
.caps    { text-transform: uppercase; letter-spacing: .2em; }

.left-align   { text-align: left }
.center       { text-align: center }
.right-align  { text-align: right }
.justify      { text-align: justify }

.nowrap { white-space: nowrap }

a {
  color: #0099dd ;
  color: #0099dd;
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Revised by BH */
.button {
  color: white;
  background-color: rgba( 108, 198, 11, 1.0 );
  border-radius: 3px;
  -webkit-transition-duration: .05s;
          transition-duration: .05s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-property: box-shadow, background-color;
          transition-property: box-shadow, background-color;
}

.button:hover {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
}
.button:focus {
  outline: none;
  border-color: rgba(0,0,0,.125);
  box-shadow: 0 0 2px 1px rgba(0,0,0,.25);
}
.button:active,
.button.is-active {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125),
    inset 0 3px 4px 0 rgba(0,0,0,.25),
    0 0 1px rgba(0,0,0,.125);
}
.button:disabled,
.button.is-disabled {
  opacity: .5;
}

