/*** uncss> filename: css/skullExtractRevised.css ***/

/*** uncss> filename: css/skullExtractRevised.css ***/

/*

  Extract from skull-1.0.0 (Basscss theme).
  Includes only the basic styles used in the CreateAccount project.
  Styles for other tags to be added as needed.

*/

/*

  Autoform
  v1.0.0

*/

/* Revised by BH */

input:not([type=checkbox]):not([type=radio]):not([type=submit]) {
  font-size: 14px;
  font-family: inherit;
  font-weight: normal;
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 16px;
}

/* Revised by BH */

label {
  font-size: 14px;
  font-weight: normal;
  display: block;
  margin-bottom: 11px;
}

/* Revised by BH */

input:not([type=checkbox]):not([type=radio]):not([type=submit]) {
  box-sizing: border-box;
  height: 45px;
  padding: 8px 8px;
  vertical-align: middle;
  -webkit-appearance: none;
}

/* Revised by BH */

input {
  border: 1px solid rgba( 217, 217, 217, 1.0 );
  border-radius: 5px;
  background-color: white;
  -webkit-transition: box-shadow .2s ease;
  transition: box-shadow .2s ease;
}

/* Revised by BH */

input:focus {
  outline: none;
  border-color: rgba( 200, 200, 200, 1.0 );
  background-color: rgba( 250, 250, 250, 1.0 );
}

input:disabled {
  opacity: 0.625;
}

/*

  autogrid
  v1.0.6

*/

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Skull
 *
 * Minimal Basscss theme
 *
 */

/* Basscss Modules */

body {
  margin: 0;
}

input {
  font-family: inherit;
  font-size: 100%;
}

img {
  max-width: 100%;
}

/* @import 'basscss-base-forms'; */

/* Basscss Base Buttons */

/* Revised by BH */

.button {
  font-size: 14px;
  font-size: .875rem;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  line-height: 30px;
  line-height: 1.875rem;
  padding: 8px 36px 8px 36px;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
}

.button:after,
.button:before {
  box-sizing: border-box;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button:hover {
  text-decoration: none;
}

/* @import 'basscss-base-tables'; */

/* Basscss Base Typography */

/* Revised by BH */

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 100%;
}

/* Revised by BH */

p {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.h4 {
  font-size: 18px;
  font-size: 1.125rem;
}

/* Revised by BH */

.h5 {
  font-size: 14px;
  font-size: .875rem;
}

/* Basscss Utility Typography */

.center {
  text-align: center;
}

a {
  color: #0099dd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Revised by BH */

.button {
  color: white;
  background-color: rgba( 108, 198, 11, 1.0 );
  border-radius: 3px;
  -webkit-transition-duration: .05s;
  transition-duration: .05s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-property: box-shadow, background-color;
  transition-property: box-shadow, background-color;
}

.button:hover {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
}

.button:focus {
  outline: none;
  border-color: rgba(0,0,0,.125);
  box-shadow: 0 0 2px 1px rgba(0,0,0,.25);
}

.button:active {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125),
    inset 0 3px 4px 0 rgba(0,0,0,.25),
    0 0 1px rgba(0,0,0,.125);
}

.button:disabled {
  opacity: .5;
}

/*** uncss> filename: css/custom.css ***/

/*

  Custom styles for the CreateAccount project.
  Styles for other tags to be added as needed.
  
  Grid system based on the Responsive Grid System by Graham Miller.
  The generated styles have been revised.
  Web site: http://www.responsivegridsystem.com/
  License: http://creativecommons.org/licenses/by/3.0/

*/

.textRequired {
  color: red;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

input::-moz-placeholder {
  color: #d9d9d9;
  font-size: 14px;
  font-weight: normal;
}

input:-moz-placeholder {
  color: #d9d9d9;
  font-size: 14px;
  font-weight: normal;
}

input:-ms-input-placeholder {
  color: #d9d9d9;
  font-size: 14px;
  font-weight: normal;
}

.button {
  padding: 8px 57px 8px 57px;
  transition: padding 0.5s;
}

@media only screen and (min-width: 480px) {
  .button {
    padding: 8px 57px 8px 57px;
  }
}

@media only screen and (min-width: 768px) {
  .button {
    padding: 8px 36px 8px 36px;
  }
}

@media only screen and (min-width: 992px) {
  .button {
    padding: 8px 36px 8px 36px;
  }
}

@media only screen and (min-width: 1200px) {
  .button {
    padding: 8px 36px 8px 36px;
  }
}

.border-bottom-none {
  border-bottom: none;
}

body {
  background-color: white;
  color: #222222;
  transition: background-color 0.5s;
}

@media only screen and (min-width: 480px) {
  body {
    background-color: white;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: #e6e6e6;
  }
}

@media only screen and (min-width: 992px) {
  body {
    background-color: #e6e6e6;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-color: #e6e6e6;
  }
}

.container {
  padding: 0;
}

@media only screen and (min-width: 480px) {
  .container {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    padding: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    padding: 30px;
  }
}

.container-med {
  max-width: 490px;
}

.container-header {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: background-color 0.5s,  border 0.5s, border-top 0.5s, border-left 0.5s, border-right 0.5s, border-radius 0.5s, padding 0.5s;
  transition: background-color 0.5s,  border 0.5s, border-top 0.5s, border-left 0.5s, border-right 0.5s, border-radius 0.5s, padding 0.5s;
}

@media only screen and (min-width: 480px) {
  .container-header {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .container-header {
    background-color: white;
    border-top: 1px solid #d9dce3;
    border-left: 1px solid #d9dce3;
    border-right: 1px solid #d9dce3;
    border-radius: 5px 5px 0 0;
    padding: 42px 100px 20px 100px;
  }
}

@media only screen and (min-width: 992px) {
  .container-header {
    background-color: white;
    border-top: 1px solid #d9dce3;
    border-left: 1px solid #d9dce3;
    border-right: 1px solid #d9dce3;
    border-radius: 5px 5px 0 0;
    padding: 42px 100px 20px 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .container-header {
    background-color: white;
    border-top: 1px solid #d9dce3;
    border-left: 1px solid #d9dce3;
    border-right: 1px solid #d9dce3;
    border-radius: 5px 5px 0 0;
    padding: 42px 100px 20px 100px;
  }
}

.container-form {
  background-color: transparent;
  border: none;
  border-top: 1px solid #e6e9ed;
  padding: 11px 0 0 0;
  -webkit-transition: background-color 0.5s,  border 0.5s, border-top 0.5s, border-left 0.5s, border-right 0.5s, border-bottom 0.5s, border-radius 0.5s, padding 0.5s;
  transition: background-color 0.5s,  border 0.5s, border-top 0.5s, border-left 0.5s, border-right 0.5s, border-bottom 0.5s, border-radius 0.5s, padding 0.5s;
}

@media only screen and (min-width: 480px) {
  .container-form {
    background-color: transparent;
    border: none;
    padding: 11px 0 0 0;
  }
}

@media only screen and (min-width: 768px) {
  .container-form {
    background-color: white;
    border-top: 1px solid #e6e9ed;
    border-left: 1px solid #d9dce3;
    border-right: 1px solid #d9dce3;
    border-bottom: 1px solid #e6e9ed;
    border-radius: 0 0 5px 5px;
    padding: 38px 100px 45px 100px;
  }
}

@media only screen and (min-width: 992px) {
  .container-form {
    background-color: white;
    border-top: 1px solid #e6e9ed;
    border-left: 1px solid #d9dce3;
    border-right: 1px solid #d9dce3;
    border-bottom: 1px solid #e6e9ed;
    border-radius: 0 0 5px 5px;
    padding: 38px 100px 45px 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .container-form {
    background-color: white;
    border-top: 1px solid #e6e9ed;
    border-left: 1px solid #d9dce3;
    border-right: 1px solid #d9dce3;
    border-bottom: 1px solid #e6e9ed;
    border-radius: 0 0 5px 5px;
    padding: 38px 100px 45px 100px;
  }
}

.container-signin {
  padding: 0;
  margin-top: 32px;
  -webkit-transition: margin 0.5s, padding 0.5s;
  transition: margin 0.5s, padding 0.5s;
}

@media only screen and (min-width: 480px) {
  .container-signin {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .container-signin {
    padding: 0px 100px 46px 100px;
  }
}

@media only screen and (min-width: 992px) {
  .container-signin {
    padding: 0px 100px 46px 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .container-signin {
    padding: 0px 100px 46px 100px;
  }
}

.logo {
  margin: 19px 0 0 0;
  width: 50px;
  height: 100%;
  -webkit-transition: margin 0.5s, width 0.5s;
  transition: margin 0.5s, width 0.5s;
}

@media only screen and (min-width: 480px) {
  .logo {
    margin: 19px 0 0 0;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) {
  .logo {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .logo {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 480px) {
  .logo {
    width: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    width: 75px;
  }
}

@media only screen and (min-width: 992px) {
  .logo {
    width: 75px;
  }
}

@media only screen and (min-width: 1200px) {
  .logo {
    width: 75px;
  }
}

.form-row {
  clear: both;
  padding: 0px;
  margin: 0px;
  margin-bottom: 11px;
}

.form-row:before,
.form-row:after {
  content: "";
  display: table;
}

.form-row:after {
  clear: both;
}

.form-row {
  zoom: 1;
  /* For IE 6/7 */
}

.column {
  margin-left: 3%;
  float: none;
  display: block;
  -webkit-transition: margin 0.5s, float 0.5s;
  transition: margin 0.5s float 0.5s;
}

@media only screen and (min-width: 480px) {
  .column {
    margin-left: 3%;
    float: none;
  }
}

@media only screen and (min-width: 768px) {
  .column {
    margin-left: 3%;
    float: left;
  }
}

@media only screen and (min-width: 992px) {
  .column {
    margin-left: 3%;
    float: left;
  }
}

@media only screen and (min-width: 1200px) {
  .column {
    margin-left: 3%;
    float: left;
  }
}

.column-with-12 {
  width: 94%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

@media only screen and (min-width: 480px) {
  .column-with-12 {
    width: 94%;
  }
}

@media only screen and (min-width: 768px) {
  .column-with-12 {
    width: 97%;
  }
}

@media only screen and (min-width: 992px) {
  .column-with-12 {
    width: 97%;
  }
}

@media only screen and (min-width: 1200px) {
  .column-with-12 {
    width: 97%;
  }
}

.column-with-6 {
  width: 94%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

@media only screen and (min-width: 480px) {
  .column-with-6 {
    width: 94%;
  }
}

@media only screen and (min-width: 768px) {
  .column-with-6 {
    width: 47%;
  }
}

@media only screen and (min-width: 992px) {
  .column-with-6 {
    width: 47%;
  }
}

@media only screen and (min-width: 1200px) {
  .column-with-6 {
    width: 47%;
  }
}

.cell-logo {
  float: left;
  -webkit-transition: float 0.5s;
  transition: float 0.5s;
}

@media only screen and (min-width: 480px) {
  .cell-logo {
    float: left;
  }
}

@media only screen and (min-width: 768px) {
  .cell-logo {
    float: none;
  }
}

@media only screen and (min-width: 992px) {
  .cell-logo {
    float: none;
  }
}

@media only screen and (min-width: 1200px) {
  .cell-logo {
    float: none;
  }
}

.cell-header {
  max-width: 410px;
  padding-top: 22px;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

@media only screen and (min-width: 480px) {
  .cell-header {
    max-width: 410px;
  }
}

@media only screen and (min-width: 768px) {
  .cell-header {
    max-width: 490px;
  }
}

@media only screen and (min-width: 992px) {
  .cell-header {
    max-width: 490px;
  }
}

@media only screen and (min-width: 1200px) {
  .cell-header {
    max-width: 490px;
  }
}

.cell-checkbox {
  text-align: center;
  padding-top: 10px;
}

.cell-button {
  padding: 22px 0 0 0;
  text-align: center;
  transition: padding 0.5s;
}

@media only screen and (min-width: 480px) {
  .cell-button {
    padding: 22px 0 0 0;
  }
}

@media only screen and (min-width: 768px) {
  .cell-button {
    padding: 0;
  }
}

@media only screen and (min-width: 992px) {
  .cell-button {
    padding: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .cell-button {
    padding: 0;
  }
}

.margin-top-0 {
  margin-top: 0;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.skip-next-row {
  margin-bottom: 24px;
}

.medium-gray {
  color: #c8c8c8;
}

.errorMessage {
  color: #222222;
  font-size: 1.2em;
  font-weight: normal;
  display: block;
  margin-top: 11px;
}

/*# sourceMappingURL=custom.css.map */

/*** uncss> filename: css/custom.css ***/

/*

  Custom styles for the CreateAccount project.
  Styles for other tags to be added as needed.
  
  Grid system based on the Responsive Grid System by Graham Miller.
  The generated styles have been revised.
  Web site: http://www.responsivegridsystem.com/
  License: http://creativecommons.org/licenses/by/3.0/

*/

.textRequired {
  color: red;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

input::-moz-placeholder {
  color: #d9d9d9;
  font-size: 14px;
  font-weight: normal;
}

input:-moz-placeholder {
  color: #d9d9d9;
  font-size: 14px;
  font-weight: normal;
}

input:-ms-input-placeholder {
  color: #d9d9d9;
  font-size: 14px;
  font-weight: normal;
}

.button {
  padding: 8px 57px 8px 57px;
  transition: padding 0.5s;
}

@media only screen and (min-width: 480px) {
  .button {
    padding: 8px 57px 8px 57px;
  }
}

@media only screen and (min-width: 768px) {
  .button {
    padding: 8px 36px 8px 36px;
  }
}

@media only screen and (min-width: 992px) {
  .button {
    padding: 8px 36px 8px 36px;
  }
}

@media only screen and (min-width: 1200px) {
  .button {
    padding: 8px 36px 8px 36px;
  }
}

.border-bottom-none {
  border-bottom: none;
}

body {
  background-color: white;
  color: #222222;
  transition: background-color 0.5s;
}

@media only screen and (min-width: 480px) {
  body {
    background-color: white;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: #e6e6e6;
  }
}

@media only screen and (min-width: 992px) {
  body {
    background-color: #e6e6e6;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-color: #e6e6e6;
  }
}

.container {
  padding: 0;
}

@media only screen and (min-width: 480px) {
  .container {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    padding: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    padding: 30px;
  }
}

.container-med {
  max-width: 490px;
}

.container-header {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: background-color 0.5s,  border 0.5s, border-top 0.5s, border-left 0.5s, border-right 0.5s, border-radius 0.5s, padding 0.5s;
  transition: background-color 0.5s,  border 0.5s, border-top 0.5s, border-left 0.5s, border-right 0.5s, border-radius 0.5s, padding 0.5s;
}

@media only screen and (min-width: 480px) {
  .container-header {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .container-header {
    background-color: white;
    border-top: 1px solid #d9dce3;
    border-left: 1px solid #d9dce3;
    border-right: 1px solid #d9dce3;
    border-radius: 5px 5px 0 0;
    padding: 42px 100px 20px 100px;
  }
}

@media only screen and (min-width: 992px) {
  .container-header {
    background-color: white;
    border-top: 1px solid #d9dce3;
    border-left: 1px solid #d9dce3;
    border-right: 1px solid #d9dce3;
    border-radius: 5px 5px 0 0;
    padding: 42px 100px 20px 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .container-header {
    background-color: white;
    border-top: 1px solid #d9dce3;
    border-left: 1px solid #d9dce3;
    border-right: 1px solid #d9dce3;
    border-radius: 5px 5px 0 0;
    padding: 42px 100px 20px 100px;
  }
}

.container-form {
  background-color: transparent;
  border: none;
  border-top: 1px solid #e6e9ed;
  padding: 11px 0 0 0;
  -webkit-transition: background-color 0.5s,  border 0.5s, border-top 0.5s, border-left 0.5s, border-right 0.5s, border-bottom 0.5s, border-radius 0.5s, padding 0.5s;
  transition: background-color 0.5s,  border 0.5s, border-top 0.5s, border-left 0.5s, border-right 0.5s, border-bottom 0.5s, border-radius 0.5s, padding 0.5s;
}

@media only screen and (min-width: 480px) {
  .container-form {
    background-color: transparent;
    border: none;
    padding: 11px 0 0 0;
  }
}

@media only screen and (min-width: 768px) {
  .container-form {
    background-color: white;
    border-top: 1px solid #e6e9ed;
    border-left: 1px solid #d9dce3;
    border-right: 1px solid #d9dce3;
    border-bottom: 1px solid #e6e9ed;
    border-radius: 0 0 5px 5px;
    padding: 38px 100px 45px 100px;
  }
}

@media only screen and (min-width: 992px) {
  .container-form {
    background-color: white;
    border-top: 1px solid #e6e9ed;
    border-left: 1px solid #d9dce3;
    border-right: 1px solid #d9dce3;
    border-bottom: 1px solid #e6e9ed;
    border-radius: 0 0 5px 5px;
    padding: 38px 100px 45px 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .container-form {
    background-color: white;
    border-top: 1px solid #e6e9ed;
    border-left: 1px solid #d9dce3;
    border-right: 1px solid #d9dce3;
    border-bottom: 1px solid #e6e9ed;
    border-radius: 0 0 5px 5px;
    padding: 38px 100px 45px 100px;
  }
}

.container-signin {
  padding: 0;
  margin-top: 32px;
  -webkit-transition: margin 0.5s, padding 0.5s;
  transition: margin 0.5s, padding 0.5s;
}

@media only screen and (min-width: 480px) {
  .container-signin {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .container-signin {
    padding: 0px 100px 46px 100px;
  }
}

@media only screen and (min-width: 992px) {
  .container-signin {
    padding: 0px 100px 46px 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .container-signin {
    padding: 0px 100px 46px 100px;
  }
}

.logo {
  margin: 19px 0 0 0;
  width: 50px;
  height: 100%;
  -webkit-transition: margin 0.5s, width 0.5s;
  transition: margin 0.5s, width 0.5s;
}

@media only screen and (min-width: 480px) {
  .logo {
    margin: 19px 0 0 0;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) {
  .logo {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .logo {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 480px) {
  .logo {
    width: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    width: 75px;
  }
}

@media only screen and (min-width: 992px) {
  .logo {
    width: 75px;
  }
}

@media only screen and (min-width: 1200px) {
  .logo {
    width: 75px;
  }
}

.form-row {
  clear: both;
  padding: 0px;
  margin: 0px;
  margin-bottom: 11px;
}

.form-row:before,
.form-row:after {
  content: "";
  display: table;
}

.form-row:after {
  clear: both;
}

.form-row {
  zoom: 1;
  /* For IE 6/7 */
}

.column {
  margin-left: 3%;
  float: none;
  display: block;
  -webkit-transition: margin 0.5s, float 0.5s;
  transition: margin 0.5s float 0.5s;
}

@media only screen and (min-width: 480px) {
  .column {
    margin-left: 3%;
    float: none;
  }
}

@media only screen and (min-width: 768px) {
  .column {
    margin-left: 3%;
    float: left;
  }
}

@media only screen and (min-width: 992px) {
  .column {
    margin-left: 3%;
    float: left;
  }
}

@media only screen and (min-width: 1200px) {
  .column {
    margin-left: 3%;
    float: left;
  }
}

.column-with-12 {
  width: 94%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

@media only screen and (min-width: 480px) {
  .column-with-12 {
    width: 94%;
  }
}

@media only screen and (min-width: 768px) {
  .column-with-12 {
    width: 97%;
  }
}

@media only screen and (min-width: 992px) {
  .column-with-12 {
    width: 97%;
  }
}

@media only screen and (min-width: 1200px) {
  .column-with-12 {
    width: 97%;
  }
}

.column-with-6 {
  width: 94%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

@media only screen and (min-width: 480px) {
  .column-with-6 {
    width: 94%;
  }
}

@media only screen and (min-width: 768px) {
  .column-with-6 {
    width: 47%;
  }
}

@media only screen and (min-width: 992px) {
  .column-with-6 {
    width: 47%;
  }
}

@media only screen and (min-width: 1200px) {
  .column-with-6 {
    width: 47%;
  }
}

.cell-logo {
  float: left;
  -webkit-transition: float 0.5s;
  transition: float 0.5s;
}

@media only screen and (min-width: 480px) {
  .cell-logo {
    float: left;
  }
}

@media only screen and (min-width: 768px) {
  .cell-logo {
    float: none;
  }
}

@media only screen and (min-width: 992px) {
  .cell-logo {
    float: none;
  }
}

@media only screen and (min-width: 1200px) {
  .cell-logo {
    float: none;
  }
}

.cell-header {
  max-width: 410px;
  padding-top: 22px;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

@media only screen and (min-width: 480px) {
  .cell-header {
    max-width: 410px;
  }
}

@media only screen and (min-width: 768px) {
  .cell-header {
    max-width: 490px;
  }
}

@media only screen and (min-width: 992px) {
  .cell-header {
    max-width: 490px;
  }
}

@media only screen and (min-width: 1200px) {
  .cell-header {
    max-width: 490px;
  }
}

.cell-checkbox {
  text-align: center;
  padding-top: 10px;
}

.cell-button {
  padding: 22px 0 0 0;
  text-align: center;
  transition: padding 0.5s;
}

@media only screen and (min-width: 480px) {
  .cell-button {
    padding: 22px 0 0 0;
  }
}

@media only screen and (min-width: 768px) {
  .cell-button {
    padding: 0;
  }
}

@media only screen and (min-width: 992px) {
  .cell-button {
    padding: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .cell-button {
    padding: 0;
  }
}

.margin-top-0 {
  margin-top: 0;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.skip-next-row {
  margin-bottom: 24px;
}

.medium-gray {
  color: #c8c8c8;
}

.errorMessage {
  color: #222222;
  font-size: 1.2em;
  font-weight: normal;
  display: block;
  margin-top: 11px;
}

/*# sourceMappingURL=custom.css.map */
