/* ========== BY TAG */
html {
  font-family: "Brawler", sans-serif;
  font-size: 8.96;
  font-weight: normal;
  margin: 0 0 1rem; }

body {
  background-color: #dddddd;
  color: #151515;
  text-align: left;
  line-height: 1.3;
  cursor: default; }

h1 {
  font-size: 1.47rem;
  margin: 0 0 1.568rem; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 2.1rem; } }
  @media only screen and (min-width: 992px) {
    h1 {
      font-size: 3rem; } }
  @media only screen and (min-width: 768px) {
    h1 {
      margin: 0 0 2.24rem; } }
  @media only screen and (min-width: 992px) {
    h1 {
      margin: 0 0 3.2rem; } }

h2 {
  font-size: 1.28rem;
  margin: 0 0 1.408rem; }
  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 1.6rem; } }
  @media only screen and (min-width: 992px) {
    h2 {
      font-size: 2rem; } }
  @media only screen and (min-width: 768px) {
    h2 {
      margin: 0 0 1.76rem; } }
  @media only screen and (min-width: 992px) {
    h2 {
      margin: 0 0 2.2rem; } }

h3 {
  font-size: 0.96rem;
  margin: 0 0 1.088rem; }
  @media only screen and (min-width: 768px) {
    h3 {
      font-size: 1.2rem; } }
  @media only screen and (min-width: 992px) {
    h3 {
      font-size: 1.5rem; } }
  @media only screen and (min-width: 768px) {
    h3 {
      margin: 0 0 1.36rem; } }
  @media only screen and (min-width: 992px) {
    h3 {
      margin: 0 0 1.7rem; } }

p {
  font-size: 0.81rem;
  margin: 0 0 0.972rem; }
  @media only screen and (min-width: 768px) {
    p {
      font-size: 0.9rem; } }
  @media only screen and (min-width: 992px) {
    p {
      font-size: 1rem; } }
  @media only screen and (min-width: 768px) {
    p {
      margin: 0 0 1.08rem; } }
  @media only screen and (min-width: 992px) {
    p {
      margin: 0 0 1.2rem; } }

hr {
  margin: 1.1rem 0 1.1rem; }
  @media only screen and (min-width: 768px) {
    hr {
      margin: 1.3rem 0 1.3rem; } }
  @media only screen and (min-width: 992px) {
    hr {
      margin: 1.7rem 0 1.7rem; } }

a {
  color: #151515;
  text-decoration: none;
  opacity: 1.0; }
  a:link {
    opacity: 1.0; }
  a:hover {
    opacity: 0.5; }
  a:active {
    opacity: 1.0; }
  a:visited {
    opacity: 1.0; }

/* ========== CONTENT */
.nav {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 0.81rem;
  padding: 0.3rem; }
  @media only screen and (min-width: 768px) {
    .nav {
      font-size: 0.9rem; } }
  @media only screen and (min-width: 992px) {
    .nav {
      font-size: 1rem; } }
  @media only screen and (min-width: 768px) {
    .nav {
      padding: 0.4rem; } }
  @media only screen and (min-width: 992px) {
    .nav {
      padding: 0.5rem; } }

.section, .sectionLast {
  color: #151515;
  background-color: transparent;
  margin: 0px auto;
  width: 96%;
  vertical-align: center;
  text-align: center;
  padding: 1rem 0 1rem; }
  @media only screen and (min-width: 768px) {
    .section, .sectionLast {
      padding: 1.3rem 0 1.3rem; } }
  @media only screen and (min-width: 992px) {
    .section, .sectionLast {
      padding: 1.7rem 0 1.7rem; } }
  .section .inner, .sectionLast .inner {
    display: table;
    margin: 0px auto;
    width: 50%; }

.sectionLast {
  color: white;
  background-color: #212121; }

.contentBlock, .contentBlockLast {
  color: #151515;
  background-color: #eeeeee;
  text-align: left;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  padding: 1rem 1rem 0.3rem 1rem; }
  @media only screen and (min-width: 768px) {
    .contentBlock, .contentBlockLast {
      padding: 1.3rem 1.3rem 0.4rem 1.3rem; } }
  @media only screen and (min-width: 992px) {
    .contentBlock, .contentBlockLast {
      padding: 1.7rem 1.7rem 0.5rem 1.7rem; } }

.contentBlockLast {
  color: #151515;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center; }

/*# sourceMappingURL=main.css.map */
