
/* ========== BY TAG */

  body {
    color: #000000;
    font-size: 11pt;
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
    font-weight: normal;
    text-align: left;
    line-height: 1.3;
    cursor: default;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  table th, td {
	  padding: 4px;
	}
	
/* ========== MISC */

  .cursorMove { cursor: move; }
    
/* ========== TUFF DATA LISTS */

	.tuffDLDiv {
	  height: 200px;
	  width: 100%;
	  max-width: 1600px;
	  max-height: 500px;
	  min-height: 100px;
	  min-width: 380px;
	}

	.tuffDLTab{
	  height: 25px;
	  width: 100%;
	  background-color: #eeeeee;
	  border-bottom: 1px solid #ffffff;
	  -webkit-border-top-left-radius: 12px;
	     -moz-border-top-left-radius: 12px;
	          border-top-left-radius: 12px;
	  -webkit-border-top-right-radius: 12px;
	     -moz-border-top-right-radius: 12px;
	          border-top-right-radius: 12px;
	}

	.tuffDLTabContents {
	  width: 100%;
	  margin-left: 10px;
	  padding: 0;
	}

	.tuffDLTabContents td {
	  vertical-align: middle;
	  padding-top: 1px;
	  padding-left: 2px;
	  white-space: nowrap;
	}

	.tuffDLInput {
	  height: 11px;
	  width: 20%;
	  padding: 2px 4px;
	  font-size: 8pt;
	  background-color: transparent;
	  border: 1px solid #ffffff;
	}

	.tuffDLIframe {
	  height: 96%;
	  width: 100%;
	  overflow: hidden;
	}

	.tuffDLScrollCover {
	  position: absolute;
	  top: 25px;
	  right: 0px;
	  height: 24px;
	  width: 54px;
	  background-color: #eeeeee;
	  border-top: 1px solid #ffffff;
	}

	.tuffDLMask {
    position: absolute;
    top: 25px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: none;
	}

	.tuffDLBody {
	  margin: 0;
	  height: 100%;
	  width: 97%;
	  padding-left: 9px;
	}

	.tuffDLContainer {
	  height: 100%;
	  width: 100%;
	}

  .tuffDLHead {
    height: 24px;
    width: 100%;
    background-color: #eeeeee;
    overflow-y: scroll; overflow-x: hidden;
  }

  .tuffDLHead table {
    width: 100%;
    max-width: 1600px;
    border: none;
  }

	.tuffDLHead th {
	  background-color: transparent;
	  vertical-align: middle;
	  font-size: 9pt;
	  font-weight: bold;
	  border-bottom: 1px solid #eeeeee;
	  border-right: 1px solid #cccccc;
	  cursor: default;
	  white-space: nowrap
	}

	.tuffDLHead th:last-child {
	  border-right: none;
	}

  .tuffDLHeader {
    font-size: 11pt;
    font-weight: bold;
    vertical-align: middle;
    cursor: move;
  }
  
  .tuffDLList {
    height: 400px;
    width: 100%;
    background-color: #ffffff;
    overflow-y: scroll; overflow-x: hidden;
  }

  .tuffDLList table {
    width: 100%;
    max-width: 1600px;
    border: none;
    margin-bottom: 330px;
  }

	.tuffDLList td {
	  vertical-align: middle;
	  border-bottom: 1px solid #cccccc;
	  border-right: 1px solid #cccccc;
	  cursor: default;
	  white-space: nowrap
	}

	.tuffDLList td:last-child {
	  border-right: none;
	}

  .tuffDLCell {
    padding-left: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tuffDLRow         {}
  .tuffDLRowSelected { background-color: rgba( 185, 255, 0, 0.2); }

  .tuffDLRow        :hover { opacity: 0.5; }
  .tuffDLRowSelected:hover { opacity: 0.8; }
 
 /* ========== FOR JQUERY UI colResizable */
   
	.grip {
		width: 20px;
		height: 30px;
		margin-top: -3px;
		margin-left: -5px;
		position: relative;
		z-index: 88;
		cursor: e-resize;
	}

	.grip:hover {
		background-position-x: -20px;
	}

	.dragging .grip {
		background-position-x: -40px;
	}