/*

  Custom styles for my web site.
  
  Grid system based on the Responsive Grid System by Graham Miller.
  The generated styles have been revised.
  Web site: http://www.responsivegridsystem.com/
  License: http://creativecommons.org/licenses/by/3.0/

*/

// ============================================================================
// SCREEN SIZES
// ============================================================================

$screen-x-small: 360px;
$screen-small  : 480px;
$screen-med    : 768px;
$screen-large  : 992px;
$screen-x-large: 1200px;
  
// ============================================================================
// COLOR
// ============================================================================

$orange      : rgba( 237, 134, 57, 1.0);
$orange-light: rgba( 255, 204, 153, 1.0 );
$gray-light  : rgba( 164, 164, 164, 0.8 );
$gray-med    : rgba( 153, 153, 153, 1.0 );
$gray-dark   : rgba( 34, 34, 34, 1.0 );
$white       : #fff;

// ============================================================================
// MISC
// ============================================================================

$box-shadow: 0 1px 10px rgba( 0, 0, 0, 0.46 );

// ============================================================================
// MIXINS
// ============================================================================

// =========== PADDING

@mixin padding-set( $paddingDefault, $paddingXSmall, $paddingSmall, $paddingMed, $paddingFull, $paddingXFull ) {
  padding: $paddingDefault;

  -webkit-transition: padding 0.5s;
  transition: padding 0.5s;
  
  @media only screen and ( min-width: $screen-x-small ) { padding: $paddingXSmall; } 
  @media only screen and ( min-width: $screen-small )   { padding: $paddingSmall; }
  @media only screen and ( min-width: $screen-med )     { padding: $paddingMed; }
  @media only screen and ( min-width: $screen-large )   { padding: $paddingFull; }
  @media only screen and ( min-width: $screen-x-large ) { padding: $paddingXFull; }
}

// =========== FLOAT

@mixin float-set( $floatDefault, $floatXSmall, $floatSmall, $floatMed, $floatFull, $floatXFull ) {
  float: $floatDefault;

  -webkit-transition: float 0.5s;
  transition: float 0.5s; 

  @media only screen and ( min-width: $screen-x-small ) { float: $floatXSmall; }  
  @media only screen and ( min-width: $screen-small )   { float: $floatSmall; }
  @media only screen and ( min-width: $screen-med )     { float: $floatMed; }
  @media only screen and ( min-width: $screen-large )   { float: $floatFull; }
  @media only screen and ( min-width: $screen-x-large ) { float: $floatXFull; }
}

// =========== WIDTH

$container-width        : 1024px;
$container-width-default: 1024px;

@mixin width-set( $widthDefault, $widthXSmall, $widthSmall, $widthMed, $widthFull, $widthXFull ) {
  width: $widthDefault;

  -webkit-transition: width 0.5s;
  transition: width 0.5s; 
  
  @media only screen and ( min-width: $screen-x-small ) { width: $widthXSmall; }
  @media only screen and ( min-width: $screen-small )   { width: $widthSmall; }
  @media only screen and ( min-width: $screen-med )     { width: $widthMed; }
  @media only screen and ( min-width: $screen-large )   { width: $widthFull; }
  @media only screen and ( min-width: $screen-x-large ) { width: $widthXFull; }
}

// ============================================================================
// BASIC TAGS
// ============================================================================

body {
  margin          : 0;
  font-family     : 'Raleway', Helvetica, sans-serif; 
  font-size       : 14px; 
  line-height     : 1.25; 
  color           : $gray-dark;
  background-color: $gray-light;  
  cursor          : default;
}

h1 { 
  font-size    : 36px; 
  margin-top   : 32px;
  margin-bottom: 34px;  
}

h2 { 
  font-size    : 28px; 
  margin-top   : 24px;
  margin-bottom: 26px;  
}

h3 { 
  font-size    : 18px;
  font-weight  : normal;
  margin-top   : 4px;
  margin-bottom: 8px;   
}

h4 { 
  font-size    : 18px;
  margin-top   : 14px;
  margin-bottom: 16px;   
}

h5 { 
  font-size    : 14px; 
  margin-top   : 10px;
  margin-bottom: 12px;  
}

h6 { 
  font-size    : 12px; 
  margin-top   : 8px;
  margin-bottom: 10px;  
}

p {
  font-size    : 14px;
  margin-top   : 0;
  margin-bottom: 12px;
}

a {
  text-decoration: none;
  color          : $white;
}

a:hover {
	text-decoration: none;
	color          : $white;
}

// ============================================================================
// SCROLL PARALLAX from https://www.kirupa.com/
// ============================================================================

.parallax-container {
  left    : 0;
  position: fixed;
  top     : 0;
  width   : 100%;
  z-index : -1;
}
.parallax-container img {
  width : 100%;
  height: auto;
}
	
// ============================================================================
// RESPONSIVE CONTAINER
// ============================================================================

.container-parent {
  $paddingDefault: 10px;
  $paddingFull   : 30px;
  @include padding-set( $paddingDefault, $paddingDefault, $paddingDefault, $paddingFull, $paddingFull, $paddingFull );
   
  max-width      : 1024px;
  margin-left    : auto;
  margin-right   : auto  
}

.container {
  max-width: $container-width;
}

.row {
	clear        : both;
	padding      : 0px;
	margin       : 0px;
	margin-bottom: 11px;
}

.row:before,
.row:after { content: ""; display: table; }
.row:after { clear: both; }
.row { zoom: 1; /* For IE 6/7 */ }

.column-full {
  @include float-set( none, none, left, left, left, left );
  
  $widthDefault: 100%;
  $widthFull   : 100%;
  @include width-set( $widthDefault, $widthDefault, $widthFull, $widthFull, $widthFull, $widthFull ); 
  
  display: block;   	
}

.column-half {
  @include float-set( none, none, left, left, left, left );
  
  $widthDefault: 100%;
  $widthFull   : 50%;
  @include width-set( $widthDefault, $widthDefault, $widthFull, $widthFull, $widthFull, $widthFull ); 
  
  display: block;   	
}

.column-third {
  @include float-set( none, none, left, left, left, left );
  
  $widthDefault: 100%;
  $widthFull   : 33%;
  @include width-set( $widthDefault, $widthDefault, $widthFull, $widthFull, $widthFull, $widthFull ); 
  
  display: block;   	
}

.column-quarter {
  @include float-set( none, none, left, left, left, left );
  
  $widthDefault: 100%;
  $widthFull   : 25%;
  @include width-set( $widthDefault, $widthDefault, $widthFull, $widthFull, $widthFull, $widthFull ); 
  
  display: block;  	
}
  
// ============================================================================
// PORTFOLIO
// ============================================================================

.portfolio-item {
  color           : $white;
  background-color: $gray-dark;
  padding-bottom  : 5px;
  margin-bottom   : 10px;
  box-shadow      : $box-shadow;
}
.portfolio-item:hover {
  color           : $gray-dark;
  background-color: $gray-med;
  cursor          : pointer;
}

.portfolio-label {  
  margin-top: 50px;
}

// ============================================================================
// CIRCLE ICONS from http://codepen.io/Onomicon/pen/iDfld
// ============================================================================

.circle-icon-large {
  font-size             : 45px;
	background            : $orange;
	padding               : 30px;
	border                : 6px solid $white;
	color                 : $white;
	box-shadow            : $box-shadow;
	text-align            : center;
	display               : table-cell;
	vertical-align        : middle;
	width                 : 60px;
	height                : 60px;
	cursor                : pointer;
		
	-webkit-border-radius : 100%;
	-moz-border-radius    : 100%;
	-o-border-radius      : 100%;
	border-radius         : 100%;

	-moz-transition       : 0.5s;
	-webkit-transition    : 0.5s;
	-o-transition         : 0.5s;
	transition            : 0.5s;
}
.circle-icon-large:hover {
	background: $orange-light;
}

.circle-icon-small {
  font-size             : 30px;
	background            : $gray-dark;
	padding               : 20px;
	border                : 6px solid $white;
	color                 : $white;
	box-shadow            : $box-shadow;
	text-align            : center;
	display               : table-cell;
	vertical-align        : middle;
	width                 : 45px;
	height                : 45px;
	cursor                : pointer;
		
	-webkit-border-radius : 100%;
	-moz-border-radius    : 100%;
	-o-border-radius      : 100%;
	border-radius         : 100%;

	-moz-transition       : 0.5s;
	-webkit-transition    : 0.5s;
	-o-transition         : 0.5s;
	transition            : 0.5s;
}
.circle-icon-small:hover {
	color     : $gray-dark;
	background: $white;
}

.icon-wrapper {
	display: inline-block;
}

.icon-label-bottom { 
  margin-top : 10px;
  font-weight: 700; 
}

// ============================================================================
// SCROLL REVEAL from http://www.sitepoint.com/scroll-based-animations-jquery-css3/
// ============================================================================

.reveal-element {
	opacity : 0;
	position: relative;
}

.reveal-element.slide-left {
	opacity: 0;
	
	-moz-transition   : all 500ms linear;
	-webkit-transition: all 500ms linear;
	-o-transition     : all 500ms linear;
	transition        : all 500ms linear;
	
	-moz-transform   : translate3d( -100px, 0px, 0px );
	-webkit-transform: translate3d( -100px, 0px, 0px );
	-o-transform     : translate( -100px, 0px );
	-ms-transform    : translate( -100px, 0px );
	transform        : translate3d( -100px, 0px, 0px );
}

.reveal-element.slide-left.in-view {
	opacity: 1;
	
	-moz-transform   : translate3d( 0px, 0px, 0px );
	-webkit-transform: translate3d( 0px, 0px, 0px );
	-o-transform     : translate( 0px, 0px );
	-ms-transform    : translate( 0px, 0px );
	transform        : translate3d( 0px, 0px, 0px );
}

.reveal-element.slide-up {
	opacity: 0;
	
	-moz-transition   : all 700ms ease-out;
	-webkit-transition: all 700ms ease-out;
	-o-transition     : all 700ms ease-out;
	transition        : all 700ms ease-out;
	
	-moz-transform   : translate3d( 0px, 200px, 0px );
	-webkit-transform: translate3d( 0px, 200px, 0px );
	-o-transform     : translate( 0px, 200px );
	-ms-transform    : translate( 0px, 200px );
	transform        : translate3d( 0px, 200, 0px );
	
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility   : hidden;
	backface-visibility        : hidden;
}

.reveal-element.slide-up.in-view {
	opacity: 1;
	
	-moz-transform   : translate3d( 0px, 0px, 0px );
	-webkit-transform: translate3d( 0px, 0px, 0px );
	-o-transform     : translate( 0px, 0px );
	-ms-transform    : translate( 0px, 0px );
	transform        : translate3d( 0px, 0px, 0px );
}

// ============================================================================
// MISC
// ============================================================================

.header {
  font-size  : 28pt;
  font-weight: 700;
}
 		
// ============================================================================
// CSS HELPERS
// ============================================================================

// =========== DISPLAY.

.inline             { display: inline; }
.block              { display: block; }
.inline-block       { display: inline-block; }
.hide               { display: none; }

// =========== MARGIN.

.margin-top-0       { margin-top   : 0; }
.margin-bottom-0    { margin-bottom: 0; }

// =========== PADDING.

.padding-top-10     { padding-top: 10px; }

// =========== BORDER.

.rounded-corner {
  -webkit-border-radius: 12px; 
  -moz-border-radius   : 12px; 
  border-radius        : 12px; 
}

// =========== ALIGNMENT.

.align-top          { vertical-align: top; }
.align-bottom       { vertical-align: bottom; }
.align-middle       { vertical-align: middle; }

.left               { float: left; }
.right              { float: right; }

.text-left          { text-align: left; }
.text-right         { text-align: right; }
.text-center        { text-align: center; }
.text-just          { text-align: justify; }
 
// =========== WIDTH/HEIGHT.

.fit-height         { height: 100%; }
.fit-width          { width: 100%; }

// =========== TEXT.

.font-family-basic  { font-family   : Helvetica, sans-serif; }
.bold               { font-weight   : bold; }
.normal             { font-weight   : normal; }
.italic             { font-style    : italic; }
.caps               { text-transform: uppercase; letter-spacing: .2em; }
.no-wrap            { white-space   : nowrap; }

// =========== COLOR.

.orange             { color: $orange; }
.orange-light       { color: $orange-light; }
.gray-light         { color: $gray-light; }
.gray-med           { color: $gray-med; }
.gray-dark          { color: $gray-dark; }	
.white              { color: $white; }